<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">
    
    <title>CarlApps | Bulletin</title>
    
    <%= stylesheet_link_tag "bulletin" %>
    <%= javascript_include_tag "bulletin" %>
</head>
<body>

<script type="text/javascript">
var vm = new NnbViewModel();
$(document).ready(function() {
    ko.applyBindings(vm);
    vm.getNnbs();
});
</script>

<div id="scroll-to-top"></div>
<div id="scroll-to-top-active"></div>

<div class="container">

    <h1><a id="carlapps">CarlApps</a><a id="app_name"><span><span></span></span>Bulletin</a></h1>

    <hr class="rule rule--dashed">

    <div class="nav-bar">
        <div class="left">
            <p>
                <a href="" data-bind="click: changeDate(-1)"></a>
            </p>
        </div>
        <div class="middle">
            <p id="title">
                <label for="datepicker" data-bind="text: longDate"></label>
            </p>
            <p id="date-input">
                <input id="datepicker" type="text" data-bind="value: pickerDate"/>
            </p>
            <nav id="sections-nav">
                <ul data-bind="foreach: dateLinks()">
                    <li><p><a data-bind="text: label, attr: {href: link}"></a></p></li>
                </ul>
                <ul data-bind="foreach: otherLinks()">
                    <li><p><a data-bind="text: label, attr: {href: link}"></a></p></li>
                </ul>
            </nav>
        </div>
        <div class="right">
            <p>
                <a href="" data-bind="click: changeDate(1)"></a>
            </p>
        </div>
    </div><!--timeline-->

    <hr class="rule rule--dashed">

    <!-- ko foreach: Object.keys(sections()) -->
    <div class="section">
        <h2 data-bind="click: $root.collapse, text: $data, attr: {id: $root.sectionIds()[$data]}">
        </h2>
        <div class="fader"><div></div></div>
        <div class="barground"><div></div></div>
        <div class="content">
            <div class="grid" data-bind="foreach: $root.columns()[$data]"><!--
            /--><div class="grid__item palm-one-whole one-third" data-bind="foreach: $data">
                    <p data-bind="html: content"></p>
                </div><!--
        /--></div>
        </div>
    </div>
    <hr class="rule rule--dashed">
    <!-- /ko -->

</div><!--content-->

</body>
</html>
