<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">
    
    <title>CarlApps | Bulletin</title>
    
    <%= stylesheet_link_tag "bulletin" %>
    <%= javascript_include_tag "bulletin" %>
</head>
<body>
<script type="text/javascript">
var vm = new NnbViewModel();
$(document).ready(function() {
    ko.applyBindings(vm);
    vm.getNnbs();
});
</script>


    <div id="tooltip">
    	<p>CLICK TO FIND %user IN THE DIRECTORY</p>
    	<p>SHIFT-CLICK TO EMAIL %user</p>
    </div>

<div class="container">

    <h1><a id="carlapps">CarlApps</a><a id="app_name"><span><span></span></span>Bulletin</a></h1>

    <hr class="rule rule--dashed">
    
    <div class="section">
        <h2>Today, <span class="date" data-bind="text: (new Date())"></span></h2>
        <div class="fader"><div></div></div>
        <div class="barground"><div></div></div>
        <div class="content">
            <!-- ko foreach: rows -->
<div class="grid" div data-bind="foreach: $data"><div class="grid__item palm-one-whole one-third"><p data-bind="html: content"></p></div></div>
            <!-- /ko -->
        </div>
    </div>

    <hr class="rule rule--dashed">

    <div class="section">
        <h2>Monday, <span class="date">September 14</span></h2>
        <div class="fader"><div></div></div>
        <div class="barground"><div></div></div>
        <div class="content">
            <div class="grid">
                <div class="grid__item palm-one-whole one-third">
                    <p>LIVING IN a sexually traumatized body? I'm creating a multi-media piece and would love to interview you. Your words will remain anonymous. Email <a class="user">bankerk</a>.</p></div><!--
            --><div class="grid__item palm-one-whole one-third">
                    <p>HAVE/RIDE A unicycle? Interested in getting together to improve or just tool around and look awesome? Email <a class="user">skinners</a>! </p></div><!--
            --><div class="grid__item palm-one-whole one-third">
                    <p>MIHAELA CZOBOR Lupp on imagination, Heidegger's Nazism, and teaching Marx the day communism fell @ <a>carletoncosmos.wordpress.com</a>. Wanna submit? carletoncosmos@gmail.com</p>
                </div>
            </div>
            <div class="grid">
                <div class="grid__item palm-one-whole one-third">
                    <p>WANT TO go learn about how the elections and health care pertain to sexual health? Hamline University hosts. 09/26, 5-9pm. Interested? Contact fraserd. </p></div><!--
            --><div class="grid__item palm-one-whole one-third">
                    <p>INTERESTED IN design? Want to contribute to Carleton's glossiest publication? Contact gurneye for information on how to join the Lens design team. </p></div><!--
            --><div class="grid__item palm-one-whole one-third">
                    <p>IF YOU left stuff in the basement of 40 house, please come get it! Anything left after this weekend will be removed. Contact: abeld </p>
                </div>
            </div>
            <div class="grid">
                <div class="grid__item palm-one-whole one-third">
                    <p>DID YOU accidentally take the wrong box from Musser storage? Contains bedding, blue (empty) jewelery box with extreme sentimental value. gerberk, no questions asked. </p></div><!--
            --><div class="grid__item palm-one-whole one-third">
                    <p>GO CAMPING! Explore the outdoors! Take a mini-vacation with CANOE. Email bargmanj for updates or visit <a>http://apps.carleton.edu/student/orgs/canoe/</a> for info. </p></div><!--
            --><div class="grid__item palm-one-whole one-third">
                    <p>ARE YOU part of a group with musical talent? The Weitz Center would is looking for musicians over Common Time; email srichard </p>
                </div>
            </div>
        </div>
    </div>

    <hr class="rule rule--dashed">

    <div class="section">
        <h2>For Sale</h2>
        <div class="fader"><div></div></div>
        <div class="barground"><div></div></div>
        <div class="content">
            <div class="grid">
                <div class="grid__item palm-one-whole one-third">
                    <p>LIVING IN a sexually traumatized body? I'm creating a multi-media piece and would love to interview you. Your words will remain anonymous. Email <a class="user">bankerk</a>.</p></div><!--
            --><div class="grid__item palm-one-whole one-third">
                    <p>HAVE/RIDE A unicycle? Interested in getting together to improve or just tool around and look awesome? Email <a class="user">skinners</a>! </p></div><!--
            --><div class="grid__item palm-one-whole one-third">
                    <p>MIHAELA CZOBOR Lupp on imagination, Heidegger's Nazism, and teaching Marx the day communism fell @ <a>carletoncosmos.wordpress.com</a>. Wanna submit? carletoncosmos@gmail.com</p>
                </div>
            </div>
            <div class="grid">
                <div class="grid__item palm-one-whole one-third">
                    <p>WANT TO go learn about how the elections and health care pertain to sexual health? Hamline University hosts. 09/26, 5-9pm. Interested? Contact fraserd. </p></div><!--
            --><div class="grid__item palm-one-whole one-third">
                    <p>INTERESTED IN design? Want to contribute to Carleton's glossiest publication? Contact gurneye for information on how to join the Lens design team. </p></div><!--
            --><div class="grid__item palm-one-whole one-third">
                    <p>IF YOU left stuff in the basement of 40 house, please come get it! Anything left after this weekend will be removed. Contact: abeld </p>
                </div>
            </div>
            <div class="grid">
                <div class="grid__item palm-one-whole one-third">
                    <p>DID YOU accidentally take the wrong box from Musser storage? Contains bedding, blue (empty) jewelery box with extreme sentimental value. gerberk, no questions asked. </p></div><!--
            --><div class="grid__item palm-one-whole one-third">
                    <p>GO CAMPING! Explore the outdoors! Take a mini-vacation with CANOE. Email bargmanj for updates or visit <a>http://apps.carleton.edu/student/orgs/canoe/</a> for info. </p></div><!--
            --><div class="grid__item palm-one-whole one-third">
                    <p>ARE YOU part of a group with musical talent? The Weitz Center would is looking for musicians over Common Time; email srichard </p>
                </div>
            </div>
        </div>
    </div>
    <hr class="rule rule--dashed">

</div><!--content-->

</body>
</html>
