<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">
    
    <title>CarlApps | Bulletin</title>
    
    <%= stylesheet_link_tag "bulletin" %>
    <%= javascript_include_tag "bulletin" %>
</head>
<body>
<script type="text/javascript">
var vm = new NnbViewModel();
$(document).ready(function() {
    ko.applyBindings(vm);
    vm.getNnbs();
});
</script>


    <div id="tooltip">
    	<p>CLICK TO FIND %user IN THE DIRECTORY</p>
    	<p>SHIFT-CLICK TO EMAIL %user</p>
    </div>

<div class="container">

    <h1><a id="carlapps">CarlApps</a><a id="app_name"><span><span></span></span>Bulletin</a></h1>

    <hr class="rule rule--dashed">
    

    <!-- ko foreach: Object.keys(bulletin()) -->
    <div class="section">
        <h2 data-bind="click:$root.collapse, text:$data"></h2>
        <div class="fader"><div></div></div>
        <div class="barground"><div></div></div>
        <div class="content">
            <!-- ko foreach: $root.makeRows($root.bulletin()[$data]) -->
<div class="grid" div data-bind="foreach: $data"><div class="grid__item palm-one-whole one-third"><p data-bind="html: content"></p></div></div>
            <!-- /ko -->
        </div>
    </div>
    <hr class="rule rule--dashed">
    <!-- /ko -->

</div><!--content-->

</body>
</html>
